.kdev4/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
autoscan-2.69.log
compile
config.guess
config.h
config.h.in
*.log
config.status
config.sub
configure
configure.scan
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
src/.deps/
src/.libs/
*.lo
*.o
*.la
src/unlogical
stamp-h1
test-driver
tests/.deps/
tests/unlogical
tests/unlogical.trs
unlogical*.tar.xz
unlogical.kdev4
*~
